:global {
    .add {
      width: 103%;
      height: 100%;
      background: #fff;
      margin-left: -22px;
      padding-left: 20px;
    }
    h3 {
      width: 100%;
      line-height: 75px;
      font-size: 20px;
      color: black;
      font-weight: 400;
    }
  }
  html,
  body,
  :global(#root) {
    background: #ccc;
    .wrapper {
      width: 100%;
      height: 100%;
      padding: 20px;
      box-sizing: border-box;
      overflow: auto;
      background: #fff
    }
    .title {
      line-height: 50px;
      font-size: 25px;
    }
    .wrap {
      width: 100%;
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      border: solid 1px #ccc;
      backface-visibility: #fff
    }
    .wrap_item {
      width: 33%;
      flex: auto;
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      padding: 10px;
      box-sizing: border-box;
    }
    .wrap_item:nth-child(1),
    .wrap_item:nth-child(2),
    .wrap_item:nth-child(4),
    .wrap_item:nth-child(5) {
      border-right: solid 1px #ccc;
    }
    .wrap_item:nth-child(1),
    .wrap_item:nth-child(2),
    .wrap_item:nth-child(3) {
      border-bottom: solid 1px #ccc;
    }
    .tits {
      height: 35px;
      margin: 10px 0 15px 0;
      display: flex;
    }
    .tits p {
      height: 35px;
      border: solid 1px #ccc;
      background: #fff;
      padding: 0 10px;
      box-sizing: border-box;
      line-height: 35px;
      cursor: pointer;
    }
    .tits p.active {
      border: solid 1px blue;
      color: blue;
    }
    .item_box {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
    }
    .item_box input {
      width: 100%;
      height: 35px;
      border: solid 1px #ccc;
      padding: 0 8px;
      box-sizing: border-box;
      margin-top: 15px;
    }
    .item_box .select {
      width: 150px;
      height: 35px;
      margin-top: 15px;
    }
    .btns {
      width: 100%;
      margin-top: 15px;
    }
    //   .btns {
    //     width: 100%;
    //     margin: 15px 0;
    //     display: flex;
    //   }
    .sure {
      width: 110px;
      height: 32px;
      margin-right: 10px;
      background: linear-gradient(-90deg, #4e75ff, #0139fd) !important;
      color: #fff;
      border: none;
    }
    .reset {
      width: 80px;
      height: 32px;
      background: #fff;
      border: solid 1px #ccc;
    }
  }
  