.wrapper{
    width: 100%;
    height: 100%;
    padding:25px;
    box-sizing: border-box;
}
.title{
    line-height: 40px;
    font-size:20px;
}
.wrap{
    display: flex;
}
.wrapLeft{
    min-height:0;
    height: 100%;
    padding:15px;
    box-sizing: border-box;
    background: #fff;
    border-radius: 10px;
    margin-right: 20px;
    // position: 
}
.wrapRight{
    width: 250px; 
    flex-shrink: 0; 
    margin-left: 20px;
   
}
.wrapFiexd{
    width: 250px; 
    position: fixed; 
    top: 155px;
    background:#fff;
    padding:20px;
    border-radius: 10px;
}
.icon{
    padding:2px 8px;
    border:solid 1px #91d5ff;
    color:#1890ff;
    background: #e6f7ff;
    margin-left:5px;
    font-size: 13px;
}
.markdown{
    img{
        max-width: 100%
    }
    pre{
        background:#eee;
        padding:15px;
        box-sizing: border-box;
    }
}
.answer{
    width: 100%;
    display: flex;
    border-bottom: solid 1px #ccc;
    margin-bottom:20px;
    padding:15px 0;
    box-sizing: border-box;
}
.answer>div{
    flex:1;
    margin:0 10px;
}
.goodAnswer{
    background:#eee;
    padding:10px;
    box-sizing: border-box;
}
.btns{
    background:blue;
    color:#fff;
    width:110px;
    height: 32px;
}