* {
    list-style: none;
    text-decoration: none
}
.radio {
    margin: 0 10px;
    font-size: 8px
}
.select {
    float: left;
    margin-right: 50px
}
.select h4 {
    float: left;
    margin-top: 5px
}
button{
    margin-top: -10px
}
.content {
    margin-top: 20px
}
.inner {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc
}
.left ul li {
    margin: 20px 0
}
.left ul li span {
    display: inline-block;
    border: 1px solid orange;
    margin-right: 20px;
    padding: 5px 10px;
    font-size: 12px
}
.left ul li:nth-child(3) {
    color: blue
}
.right {
    line-height: 150px;
    color: blue
}
